<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>MERSY</name>

<description>
Mobile-based Emergency Response System
</description>

<author href="ramesesfrancia@gmail.com" email="ramesesfrancia@gmail.com">
Rameses A. Francia
</author>

</widget>

<!-- this is for Push Notofication-->
<gap:plugin name="onesignal-cordova-plugin" spec="^2.0.10" source="npm" />

<!--Requires cli-5.1.1+ for gradle Android but we recommend using the latest version. -->
<preference name="phonegap-version" value="cli-6.4.0" />
<preference name="android-build-tool" value="gradle" />

<!-- Window Phone 8.1 builds must use cli-6.1.0+ above -->
<preference name="windows-appx-target" value="8.1-phone" />
<preference name="WindowsToastCapable" value="true" />

<vs:features>
    <vs:feature>onesignal-cordova-plugin</vs:feature>
</vs:features>

<gap:plugin name="onesignal-cordova-plugin" spec="^2.0.10" source="npm" />

<!--Requires cli-5.1.1+ for gradle Android but we recommend using the latest version. -->
<preference name="phonegap-version" value="cli-6.4.0" />
<preference name="android-build-tool" value="gradle" />

<!-- Window Phone 8.1 builds must use cli-6.1.0+ above -->
<preference name="windows-appx-target" value="8.1-phone" />
<preference name="WindowsToastCapable" value="true" />

<icon src="res/icon/android/ldpi.png" platform="android" qualifier="ldpi" />
<icon src="res/icon/android/mdpi.png" platform="android" qualifier="mdpi" />
<icon src="res/icon/android/hdpi.png" platform="android" qualifier="hdpi" />
<icon src="res/icon/android/xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="res/icon/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="res/icon/android/fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi"
